*.pyc
*.pyo
*~
\.#*
/build
/dist
/scikits.bacoli_py.egg-info
*.egg-info
*.so
*.vscode
*.html
*.js
*.pickle
*.c
*.tex
*.cfg
*.gz
*.log
*.sty
*.gz
/docs/_build
/docs/_static
/docs/_templates
/.cache
/tests/Features
